<!-- Delivery App 두번째 페이지의 HTML 문서입니다. -->
<!-- 입력받은 택배사와 송장번호를 통해 현재 배송 상태를 출력합니다. -->
<!-- 유효하지 않은 운송장번호 혹은 택배사를 입력했을 경우, 다시 입력 페이지로 돌아갑니다. -->

<!DOCTYPE html> 
<html>
    <head>
		<title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/result.css' />
    </head>
    <body>
		
		<!-- 입력받은 택배사와 송장번호가 유효한 상태인지 확인합니다. -->
		<!-- 유효한 상태라면 code에는 수신자의 주소가 저장되어 있습니다. -->
		<% if(code == `F`){ %>
			<script type="text/javascript">
				alert("유효하지 않은 운송장번호입니다.");
				document.location.href = "/get_page";
			</script>
								
		<% } else {%>
		<!-- 택배의 정보를 출력합니다. -->
		<div class="wrap" align = "center" >
		<table height="550">
			<tr>
			<p><td colspan = "5" class="bottom" id="subject" scope="col">택배 배송조회</td></p>
			</tr>
			<tr align ="left" class="subtitle">
				<td colspan = "5" scope="col">택배정보</td>
			</tr>
			
			<tr>
			<td class = "contents top1" colspan = "2" scope="row">운송장정보</td>
			<p id="num"><td colspan = "3" align ="left" class="top1"><%= number %></td></p>
			</tr>
			
			<tr>
			<td class = "contents" colspan = "2" scope="row">받는 사람</td>
			<p id="who"><td colspan = "3" align ="left" ><%= who %></td></p>
			</tr>
			
			<tr>
			<td class = "contents" colspan = "2" scope="row">보낸 사람</td>
			<p id="send"><td colspan = "3" align ="left" ><%= send %></td></p>
			</tr>
			
			<tr>
			<td class = "contents" colspan = "2" scope="row">상품명</td>
			<p id="item"><td id="text" colspan = "3" align ="left"><%= item %></td></p>
			</tr>
			
			<tr>
			<td class = "contents bottom" colspan = "2" scope="row">수령 주소</td></p>			
				<p id="code"><td colspan = "3" align ="left" class="bottom"><%= code %></td></p>							
			</tr>
			
			<!-- 운영자가 배송상태를 한눈에 확인 할 수 있도록 간단한 아이콘을 통해 현재 배송 진행상황을 표현했습니다. -->
			<!-- 모든 이미지를 회색 아이콘으로 지정한 뒤에 level에 해당되는 이미지만 src를 변경하려고 했지만.. -->
			<!-- js에서 이미지 경로를 못잡아서 하나씩 비교하고 이미지를 넣는 방식으로 구현했습니다... -->
			<tr class="subtitle">
			<p><td colspan = "5" scope="col">배송상세</td></p>
			</tr>

			<tr style="height:10px">
			</tr>
			
			<tr>
			<% if(level == 2){ %>
				<td colspan = "1"><img src="images/take_on.png" alt="상품인수 중" width="70"/></td>
			<% } else {%>
				<td colspan = "1"><img src="images/take_off.png" alt="상품인수" width="70"/></td>
			<% } %>	
			
			<% if(level == 3){ %>
				<td colspan = "1"><img src="images/move_on.png" alt="상품이동 중" width="70"/></td>
			
			<% } else {%>
				<td colspan = "1"><img src="images/move_off.png" alt="상품이동" width="70"/></td>
			<% } %>	
			
			<% if(level == 4){ %>
					<td colspan = "1" ><img src="images/in_on.png" alt="배송지도착 중" width="70"/></td>			
			<% } else {%>
					<td colspan = "1" ><img src="images/in_off.png" alt="배송지도착" width="70"/></td>
			<% } %>				
		
			<% if(level == 5){ %>
					<td colspan = "1" ><img src="images/move_on.png" alt="배송출발 중" width="70"/></td>			
			<% } else {%>
					<td colspan = "1" ><img src="images/move_off.png" alt="배송출발" width="70"/></td>
			<% } %>	
			
			<% if(level == 6){ %>
					<td colspan = "1" ><img src="images/receive_on.png" alt="배송완료!" width="70"/></td>			
			<% } else {%>
					<td colspan = "1" ><img src="images/receive_off.png" alt="배송완료" width="70"/></td>
			<% } %>			
			</tr>

			<tr style="height:10px">
				<td colspan = "1" class="explain" scope="row">상품인수</td>
				<td colspan = "1" class="explain">상품이동</td>
				<td colspan = "1" class="explain">배송지도착</td>
				<td colspan = "1" class="explain">배송출발</td>
				<td colspan = "1" class="explain">배송완료</td>
			</tr>
			<tr align ="left" style="height:10px">
			</tr>				
		</table>
		
		<!-- 좀 더 디테일한 배송정보가 있을 경우에는 해당 정보도 출력하도록 구현했습니다. -->
		<!-- 배송정보가 없을 경우에는 'f' 문자열을, 있을 경우에는 해당 정보를 담은 JSONArray를 detail 변수에 저장했습니다. -->
		<% if(detail != `f`){ %>
		
		<div id="top">
		  <div id="middleWrap">
			<table id="table2">
			  <tr align="center" class="fixed_top">
				<th class="topCell1" scope="col">시간</th>
				<th class="topCell2" scope="col">현재위치</th>
				<th class="topCell3" scope="col">배송상태</th>
			  </tr>
			  
			  <!-- 시간을 역순으로 출력해서 택배가 가장 마지막으로 위치한 장소와 시간, 상태를 확인할 수 있도록 구현했습니다. -->
			  <% for(var i=detail.length-1; i>=0; i--){ %>		  
				  <tr class="item">
					<th class="cell1" scope="row"><%- detail[i].time %></th>
					<td class="cell2"><%- detail[i].d_where %></td>
					<td class="cell3"><%- detail[i].kind %></td>
				  </tr>
			  <% } %>
			  
			</table>
		  </div>
		</div>
			
		</table>
		
		<% } %>	
		</div>  
	<% } %>			
		
    </body>
</html>
